.user-login {
    margin: 50px;
    padding: 30px;
    border-radius: 6px;
    /*border: 1px solid #5cbdda;*/
    box-shadow: 11px 12px 22px 0 rgba(91, 90, 90, 0.8);
    background-color: #e1e0e0;
}

.user-login h1, p {
    text-align: center;
    color: black;
}

.user-login p {
    font-size: 14px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
}

form div {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

input {
    width: 300px;
    border-radius: 4px;
    border: 1px solid black;
    height: 34px;
}

form button {
    margin: 20px 0 10px 0;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 126px;
    cursor: pointer;
}

form button:hover {
    background-color: #5cbdda;
}

label {
    color: black;
    font-size: 14px;
    font-weight: bold;
}

form a {
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: black;
}

form a:hover {
    text-decoration: underline;
    color: blue;
}