{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
{#    <link rel="stylesheet" href="{% static 'css/cable_index/cable_delete.css' %}">#}

    <form method="post" action="{% url 'cable delete' pk=cable.pk %}">
        <h2>Delete Cable</h2>
        <p class="form_p">Are you sure you want to delete <span class="form_span">{{ object }}</span>?</p>
        {{ form }}
        {% csrf_token %}
        <a class="form_no_btn" href="{% url 'cable details' pk=cable.pk %}">No</a> <button class="form_del_btn">Delete</button>
    </form>
{% endblock %}