body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: black;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

ul li {
    font-size: 18px;
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 2px;
    font-weight: bold;
}

.last_li {
    margin-right: 150px;
}

.header_a {
    margin-right: auto;
    margin-left: 10%;
    font-size: 26px;
    padding: 10px 10px;
    font-weight: 600;
    text-decoration: none;
    color: #fffdfd;
}

.header_a:hover {
    text-decoration: underline;
}

ul li a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}